.title {
  padding: 10px;
  
  background-image: linear-gradient(360deg,#13d4ed, #fffffffe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 30px;
  font-size: 20px; 
}

.card {
  padding: 10px;
 margin: 0 auto 20px auto;  
  width: 90%;               
  max-width: 500px; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(0, 149, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

}

.card h2, .card p{
  color:  #fff;
  text-align: center;
}
.card h2{
  font-size: clamp(22px, 5vw, 33px);
}

.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background: rgba(0, 149, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;

}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background-color: #ebfffc;
  font-size: 18px;

}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 80%;
  background-color: #ebfffc;
  cursor: pointer;
}

.weather_icon {
  width: 150px;
  margin: 30px 0;
}

.temperature {
  color: #fff;
  font-size: 70px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 40px;
}

.weather_data {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 20px;

}

.weather_data .desc,
.main,
.humidity,
.wind,.sunrise,.sunset {
  color: #fff;
  border-radius: 20px;
  background: #6087eb;
  width: 200px;
  height: 100px;
  padding: 20px;
  font-size: medium;
  font-weight: lighter;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.desc span,
.main span,
.humidity span, .sunrise span, .sunset span {
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
}

.wind span {
  font-weight: bold;
  color: #fff;

}

@media (max-width: 620px) {
  .weather_data {
    grid-template-columns: 1fr;
  }

  .search-bar img {
    width: 42px;
    min-width: 42px;
    padding: 12px;
  }

.card {
    width: 90%;              
    max-width: 100%;
    margin: 0 auto;
  }
}